{% extends 'UserProfile/base.html' %} {% block myordersactive %}active{%endblock myordersactive %} {% block body %}
{% load humanize %}
<style>
  .bs4-order-tracking {
    margin-bottom: 30px;
    overflow: hidden;
    color: #878788;
    padding-left: 0px;
    margin-top: 30px;
  }
  .bs4-order-tracking li {
    list-style-type: none;
    font-size: 13px;
    width: 25%;
    float: left;
    position: relative;
    font-weight: 400;
    color: #878788;
    text-align: center;
  }
  .bs4-order-tracking li:first-child:before {
    margin-left: 15px !important;
    padding-left: 11px !important;
    text-align: left !important;
  }
  .bs4-order-tracking li:last-child:before {
    margin-right: 5px !important;
    padding-right: 11px !important;
    text-align: right !important;
  }
  .bs4-order-tracking li > div {
    color: #fff;
    width: 29px;
    text-align: center;
    line-height: 29px;
    display: block;
    font-size: 12px;
    background: #878788;
    border-radius: 50%;
    margin: auto;
  }
  .bs4-order-tracking li:after {
    content: "";
    width: 150%;
    height: 2px;
    background: #878788;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 15px;
    z-index: -1;
  }
  .bs4-order-tracking li:first-child:after {
    left: 50%;
  }
  .bs4-order-tracking li:last-child:after {
    left: 0% !important;
    width: 0% !important;
  }
  .bs4-order-tracking li.active {
    font-weight: bold;
    color: #dc3545;
  }
  .bs4-order-tracking li.active > div {
    background: #dc3545;
  }
  .bs4-order-tracking li.active:after {
    background: #dc3545;
  }
  .card-timeline {
    background-color: #fff;
    z-index: 0;
  }
</style>

{% for order in orders %}
<div class="container card my-2">
  <div class="card-header bg-white py-3">
    <div class="row justify-content-between">
      <div class="col">
        <div class="row">
          <div class="col-12 col-sm-6 text-muted">
            Order ID <span class="font-weight-bold text-dark">122252{{order.id}}</span>
          </div>
          <div class="col-12 col-sm-6 text-muted text-start text-sm-end">
            Placed On
            <span class="font-weight-bold text-dark"
              >{{order.order_date|date}}</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card-body p-0 pt-sm-4">
    <div class="row">
      <div class="col-md-4">
        <div class="d-flex justify-content-center">
          <a
            href="/product/{{order.product.product_id}}"
            style="display: grid; place-items: center"
          >
            <img
              class="img-fluid"
              style="width: 180px; height: 180px; object-fit: contain"
              src="/media/{{order.product.image}}"
            />
          </a>
        </div>
      </div>
      <div class="col">
        <div class="media-body">
          <h5 class="bold">
            {{order.product.product_name|truncatechars:"100"}}
          </h5>
          <p class="text-muted">Qt: <span>{{order.quantity}}</span></p>
          <h4 class="mt-3 mb-4 bold">
            <span class="mt-5">&#x20B9;</span>{{order.final_price|intcomma}}
            <span class="small text-muted"> via (COD) </span>
          </h4>
          <p class="text-muted">
            Tracking Status on: <span class="Today">11:30pm, Today</span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row px-3">
    <div class="col">
      {% if order.canceled %}
      <div class="card card-timeline px-2 border-none" style="border: none">
        <ul class="bs4-order-tracking">
          <li class="step active">
            <div><i class="fas fa-user"></i></div>
            Order Placed
          </li>
          <li class="step active">&nbsp;</li>
          <li class="step active">&nbsp;</li>
          <li class="step active">
            <div><i class="bi bi-check-lg"></i></div>
            Canceled
          </li>
        </ul>
      </div>
      {% else %}
      <div class="card card-timeline px-2 border-none" style="border: none">
        <ul class="bs4-order-tracking">
          <li class="step active">
            <div><i class="fas fa-user"></i></div>
            Order Placed
          </li>
          <li class="step {% if order.shipped %}active{% endif %}">
            <div><i class="fas fa-bread-slice"></i></div>
            Shipped
          </li>
          <li class="step {% if order.outfordelivery %}active{% endif %}">
            <div><i class="fas fa-truck"></i></div>
            Out for delivery
          </li>
          <li class="step {% if order.delivered %}active{% endif %}">
            <div><i class="bi bi-check-lg"></i></div>
            Delivered
          </li>
        </ul>
      </div>
      {% endif %}
    </div>
  </div>
  <div class="card-footer bg-white px-sm-3 px-0">
    <div class="row text-center">
      <button href="#" class="col my-auto border-0 bg-white text-primary">
        <small>Need Help</small>
      </button>
      {% if order.canceled %}
      <button
        href="#"
        class="col my-auto border-0 bg-white text-primary"
        disabled
      >
        <small>Canceled</small>
      </button>
      {% else %}
      <button
        href="#"
        class="col my-auto border-0 bg-white text-primary"
        {%if order.shipped %} disabled {%endif%}
      >
        <small>Cancel</small>
      </button>
      {% endif %}
    </div>
  </div>
</div>
{% endfor %}

{% endblock body %}
