{% extends 'shop/basic.html' %} 
{%block title%}MBCART{%endblock title%} 
{% block position %}position-sticky{% endblock position %} 
{%block body%} 
{%load static%}
{% load humanize %} 

<div style="background-color::#EAEDED;" >
    <!-- Offer Coursal -->
    <div id="carouselExampleControls" class="carousel slide p-0" data-bs-ride="carousel">
        <div class="carousel-inner">
            {% for j in coursal|slice:":3" %}
            <div class="carousel-item  {% if forloop.first %}active{% endif %}">
                <a href="{{j.image_url}}">
                    <img src='/media/{{j.coursal_image}}' style="object-fit:cover;" class="d-block w-100" alt="...">
                </a>
            </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" style="width:5%;" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
    </button>
        <button class="carousel-control-next" style="width:5%;" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
    </button>
    </div>

    <div class="container-xxl">
        <div class="row row-cols-1 row-cols-sm-3 row-cols-md-3 g-3 mt-1">
            {% if recent_search %}
            <div class="col">
                <div class="card rounded-0 shadow-sm px-3 pb-3">
                    <h6 style="font-weight: bold;" class="ps-2 mt-3">Recent Search</h6>
                    <div class="row">
                        {% for i in product %} 
                        {% if i.product_id in recent_search %}
                        <div class="col-md-6">
                            <a href="/product/{{i.product_id}}" style="display:grid;place-items: center;" class="text-decoration-none text-dark">
                                <img class="img-fluid" style="width:150px;height:150px;object-fit:contain;" src='/media/{{i.image}}' />
                                <small class="text-center  d-inline-block w-100">{{i.product_name|truncatechars:35}}</small>
                            </a>
                        </div>
                        <hr class="d-md-none " /> 
                        {% endif %} 
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endif %}

            {% if cart.count > 0 %}
            <div class="col">
                <div class="card shadow-sm rounded-0 px-3 pb-3">
                    <h6 style="font-weight: bold;" class="ps-2 mt-3">Pending in Cart</h6>
                    <div class="row">
                        {% for i in cart|slice:":4" %}
                        <div class="col-md-6">
                            <a href="/cart" style="display:grid;place-items: center;">
                                <img class="img-fluid" style="width:150px;height:150px;object-fit:contain;" src='/media/{{i.product.image}}' />
                            </a>
                            <small class="text-center d-inline-block w-100">{{i.product.product_name|truncatechars:35}}</small>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endif %}


            {% comment %} Seller Dashboard Under Construction {% endcomment %}
            {% comment %} <div class="col">
                <div class="sell_on_mbcart card shadow-sm rounded-0 p-3 pb-3">
                    <div class="row">
                        <div class="col-12">
                            <h5 class="fw-bolder ">Sell on MBCART with 50% off on Selling Fee</h5>
                        </div>
                    </div>
                    <img class="seller_img" src="{% static 'static_images/seller.jpg' %}" alt="">
                    <small class="mt-1"><a href="/SellerDashboard" class="text-decoration-none " >Register now</a></small>
                </div>
            </div> {% endcomment %}

            <div class="col">
                <div class="card rounded-0 shadow-sm px-3 pb-3">
                    <h6 style="font-weight: bold;" class="ps-2 mt-3">Related to items you've viewed</h6>
                    <div class="row">
                        {% for i in product %} 
                        {% if i.product_id in recent_items %}
                        <div class="col-md-6">
                            <a href="/product/{{i.product_id}}" style="display:grid;place-items: center;" class="text-decoration-none text-dark">
                                <img class="img-fluid" style="width:150px;height:150px;object-fit:contain;" src='/media/{{i.image}}' alt='image' />
                                <small class="text-center  d-inline-block w-100">{{i.product_name|truncatechars:35}}</small>
                            </a>
                        </div>
                        <hr class="d-md-none " /> {% endif %} {% endfor %}
                    </div>
                </div>
            </div>
        </div>



        <div class="row row-cols-md-2 g-3 mt-1">
            <div class="col-12 col-md-8 ">
                <div class="card rounded-0 shadow-sm h-100 d-flex justify-content-center">
                    <div id="carouselExampleFade" class="carousel slide carousel-fade p-0" data-bs-ride="carousel2">
                        <div class="carousel-inner">
                            {% for j in coursal|slice:"3:" %}
                            <div class="carousel-item  {% if forloop.first %} active {% endif %}">
                                <a href="{{j.image_url}}" target="_blank">
                                    <img src='/media/{{j.coursal_image}}' style="object-fit:contain;" class="d-block w-100" alt="...">
                                </a>
                            </div>
                            {% endfor %}
                        </div>
                        <button class="carousel-control-prev" style="width:5%;" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
              <span class="carousel-control-prev-icon"  aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
                        <button class="carousel-control-next text-black" style="width:5%;" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
            </button>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-12">
                <div class="card rounded-0 shadow-sm px-3 pb-3">
                    <h6 style="font-weight: bold;" class="ps-2 mt-3">Shop by Category</h6>
                    <div class="row">
                        {% for i in category|slice:":4" %}
                        <div class="col-md-6">
                            <a href="/category/{{i.name}}" style="display:grid;place-items: center;" class="text-decoration-none text-dark">
                                <img class="img-fluid" style="height:180px;object-fit:contain;position: relative;top:0px" src="/media/{{i.image}}" />
                                <small class=" text-center d-inline-block w-100" style="position: relative;bottom:30px">{{i.name|truncatechars:35}}</small>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>


        <div class="row g-3 mt-1">
            <div class="col-12 col-sm-4 col-md-12">
                <div class="card shadow-sm rounded-0 px-3 pb-3 h-100">
                    <h6 style="font-weight: bold;" class="ps-2 mt-3">Latest Mobiles Arrivals</h6>
                    <div class="row">
                        {% for i in latest_mobiles|slice:":4" %}
                        <div class="col-md-3">
                            <a href="/product/{{i.product_id}}" style="display:grid;place-items: center;" class="text-decoration-none text-dark">
                                <img class="img-fluid" style="height:180px;object-fit:contain;" src='/media/{{i.image}}' />
                                <small class=" text-center d-inline-block w-100">{{i.product_name|truncatechars:35}}</small>
                            </a>
                        </div>
                        {% endfor %}
                    </div>

                </div>
            </div>

            <div class="col-12 col-sm-4 col-md-12">
                <div class="card shadow-sm rounded-0 px-3 pb-3 h-100">
                    <h6 style="font-weight: bold;" class="ps-2 mt-3">Latest Laptops Arrivals</h6>
                    <div class="row">
                        {% for i in latest_laptops|slice:":4" %}
                        <div class="col-md-3">
                            <a href="/product/{{i.product_id}}" style="display:grid;place-items: center;" class="text-decoration-none text-dark">
                                <img class="img-fluid" style="height:180px;object-fit:contain;" src='media/{{i.image}}' />
                                <small class=" text-center d-inline-block w-100">{{i.product_name|truncatechars:35}}</small>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-4 col-md-12">
                <div class="card shadow-sm rounded-0 px-3 pb-3 h-100">
                    <h6 style="font-weight: bold;" class="ps-2 mt-3">Latest Headphones Arrivals</h6>
                    <div class="row">
                        {% for i in latest_headphones|slice:":4" %}
                        <div class="col-md-3">
                            <a href="/product/{{i.product_id}}" style="display:grid;place-items: center;" class="text-decoration-none text-dark">
                                <img class="img-fluid" style="height:180px;object-fit:contain;" src='media/{{i.image}}' />
                                <small class=" text-center d-inline-block w-100">{{i.product_name|truncatechars:35}}</small>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>


{% comment %} 
    <div class="container-xxl">
        <div class=" row g-3 mt-1">
            <div class="col-12">
                <div class="card rounded-0 shadow-sm h-100 d-flex justify-content-center">
                </div>
            </div>
        </div>
    </div>
    <!-- for additional boxes  -->
 {% endcomment %}



    <div class="container-xxl ">
        <!-- row-cols-1 row-cols-sm-3 row-cols-md-4 g-4 -->
        <div class="row">
            {% for i in product %}
            <div class="col col-sm-6 col-lg-4 col-xl-3 my-3 ">
                <div class="card shadow-sm" style="min-height:400px;">
                    <div class="mt-3">
                        <a href="/product/{{i.product_id}}" style="display:grid;place-items: center;">
                            <img class="" style="width:170px;height:170px;object-fit:contain;" src='media/{{i.image}}' />
                        </a>
                    </div>
                    <div class="card-body pt-xl-3 pt-md-1">
                        <p class="card-text p-0 m-0">
                            <div>
                                <a href="/product/{{i.product_id}}" style="display:inline-block;min-height:100px;text-decoration: none;text-align:center;">{{i.product_name|truncatechars:100}}</a>
                                <div class="text-center">
                                    <span class="text-bg-success" style="border-radius:5px;padding:2px 8px;font-size: 12px;margin-top:15px;display: inline-block;">{{i.product_rating}}
                                        <small style="position:relative;top: -1px;left:4px;font-size:9px;" class="bi bi-star-fill"></small>
                                    </span>
                                    <span>({{i.order_set.count}})</span>
                                </div>
                                <h6 class="blockquote mt-3 text-center">₹{{i.product_price|intcomma}} &nbsp;
                                    <strike class="text-muted ">
                                        <small>₹{{i.product_initial_price|intcomma}}</small>
                                    </strike>
                                </h6>
                            </div>
                        </p>
                        <div class="d-flex justify-content-center align-items-center">
                            <div class="btn-group w-100">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</div>
{%endblock%}