{% extends 'shop/basic.html' %} 
{% block body %}
<form action="/submitform" method="post" class="needs-validation" novalidate autocomplete="on">
  {%csrf_token%}
  <div class="container w-50 my-5">
    <div class="form-floating mb-3">
      <label for="exampleFormControlInput1" class="form-label">Name</label>
      <input type="text" name="name" class="form-control" id="exampleFormControlInput1" placeholder="Enter Your Name" />
    </div>
    <div class="form-floating mb-3">
      <label for="exampleFormControlInput1" class="form-label">Email address</label>
      <input type="email" name="email" class="form-control" id="exampleFormControlInput1"
        placeholder="Enter Your Email" />
    </div>
    <div class="mb-3 form-floating">
      <label for="exampleFormControlInput1" class="form-label">Phone number</label>
      <input type="number" name="phoneNumber" class="form-control" id="exampleFormControlInput1"
        placeholder="Enter Your Phone Number" />
    </div>
    <div class="mb-3 form-floating">
      <label for="exampleFormControlTextarea1" class="form-label">How may we help you?</label>
      <textarea class="form-control" name="description" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <input class="btn btn-primary animate__animated" id="add_Address" type="submit" value="Submit" />
    </div>
  </div>
</form>
{% include 'UserProfile/needs_validation.html' %}
{% endblock body %}