{% comment %} SignUpModal {% endcomment %}
<div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">SIGN UP</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body container">
                <form action="/signup" method="post">
                    {%csrf_token%}
                    <div class="container">
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Username</label>
                            <input type="text" name="username" class="form-control" id="exampleFormControlInput1" placeholder="Enter Your Username" />
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput2" class="form-label">Enter Your First Name</label>
                            <input type="text" name="fname" class="form-control" id="exampleFormControlInput2" placeholder="Enter Your First Name" />
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput3" class="form-label">Enter Your Last Name</label>
                            <input type="text" name="lname" class="form-control" id="exampleFormControlInput3" placeholder="Enter Your Last Name" />
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput4" class="form-label">Mobile No</label>
                            <input type="text" name="mobileno" class="form-control" id="exampleFormControlInput4" placeholder="Enter Your Mobile No" />
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput5" class="form-label">Email</label>
                            <input type="email" name="email" class="form-control" id="exampleFormControlInput5" placeholder="Enter Your Email" />
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput6" class="form-label">Password</label>
                            <input type="password" name="password" class="form-control" id="exampleFormControlInput6" placeholder="Enter Your Password" />
                        </div>
                        <div class="d-grid gap-2 mt-3 d-md-flex justify-content-center">
                            <input class="btn w-100 btn-primary float-right" type="submit" value="SIGN UP" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>