<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=no">
    <link rel="shortcut icon" href="media/shop/logo.jpg" type="image/x-icon">
    <title>{% block title %}{%endblock%}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
        integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />



</head>
<!-- Button trigger modal -->
{% load static %}
<!-- Modal -->
<div class="modal fade" id="signinModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">SIGN IN</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body container">
                <form action="/signin" method="post">
                    {%csrf_token%}
                    <div class="container">
                        <div class="mb-3">
                            <label for="exampleFormControlInput10" class="form-label">Username</label>
                            <input type="text" name="username" class="form-control" id="exampleFormControlInput10"
                                placeholder="Enter Your Email">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput20" class="form-label">Password</label>
                            <input type="password" name="password" class="form-control" id="exampleFormControlInput20"
                                placeholder="Enter Your Password">
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
                            <label class="form-check-label" for="form2Example31"> Remember me </label>
                        </div>
                        <div class="text-center mt-4">
                            <p>Not a member? <a href="" data-bs-toggle="modal" data-bs-target="#signupModal"
                                    class="text-decoration-none">signup</a></p>
                        </div>
                        <div class="d-grid gap-2 mt-5 d-md-flex justify-content-center">
                            <input class="btn w-100 btn-primary" type="submit" value="SIGN IN" />
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
















{% comment %} SignUpModal {% endcomment %}
<div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">SIGN UP</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body container">
                <form action="/signup" method="post">
                    {%csrf_token%}
                    <div class="container">
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Username</label>
                            <input type="text" name="username" class="form-control" id="exampleFormControlInput1"
                                placeholder="Enter Your Username">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput2" class="form-label">Enter Your First Name</label>
                            <input type="text" name="fname" class="form-control" id="exampleFormControlInput2"
                                placeholder="Enter Your First Name">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput3" class="form-label">Enter Your Last Name</label>
                            <input type="text" name="lname" class="form-control" id="exampleFormControlInput3"
                                placeholder="Enter Your Last Name">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput4" class="form-label">Mobile No</label>
                            <input type="text" name="mobileno" class="form-control" id="exampleFormControlInput4"
                                placeholder="Enter Your Mobile No">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput5" class="form-label">Email</label>
                            <input type="email" name="email" class="form-control" id="exampleFormControlInput5"
                                placeholder="Enter Your Email">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput6" class="form-label">Password</label>
                            <input type="password" name="password" class="form-control" id="exampleFormControlInput6"
                                placeholder="Enter Your Password">
                        </div>
                        <div class="d-grid gap-2 mt-3 d-md-flex justify-content-center">
                            <input class="btn w-100 btn-primary" type="submit" value="SIGN UP" />
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<body class="{% block bodyclasses %}{% endblock bodyclasses %}">



    <style>
        * {
            padding: 0;
            margin: 0;
        }
    </style>


    <nav class="navbar bg-dark {% block position %}{% endblock position %} top-0" style="z-index:2;">
        <div class="nav container-fluid d-flex justify-content-around mx-sm-4  ">
            <a class="navbar-brand text-white order-sm-0 mx-sm-5">MBCART</a>

            <div class="d-flex order-sm-2 ">
                <a href="/cart" class="btn btn-primary me-2">
                    <i class="bi bi-cart3"></i> <span id="cart_items_count" class="badge badge-light">0</span>
                </a>
                {% if user.is_authenticated %}
                <form method="post" action="/signout">
                    {%csrf_token%}
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Profile
                        </button>

                        <ul class="dropdown-menu">
                            <li>
                                <h6 class="text-center">{{request.user}}</h6>
                            </li>
                            <li><a class="dropdown-item" href="#">Go To Profile</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <button type="submit" class="btn btn-primary ms-3">
                                    Logout
                                </button>
                            </li>
                        </ul>
                    </div>
                </form>

                {% else %}
                <button type="button" class="btn btn-primary ms-3 " data-bs-toggle="modal"
                    data-bs-target="#signinModal">
                    Login
                </button>
                {% endif %}
            </div>
            <form class="d-flex flex-grow-1 order-sm-1 p-3 mx-sm-5" role="search" action='/searchResult' method="get">
                <div class="input-group mx-lg-5">
                    <input type="text" class="form-control  " placeholder="Search" aria-label="Search"
                        aria-describedby="basic-addon1" name="search" id="search" value="{{query}}">
                    <button type="submit" class="border-0 px-3 text-bg-danger"><i class="bi bi-search"></i></button>
                </div>
            </form>
        </div>
    </nav>
    <nav class="category d-flex justify-content-evenly align-items-baseline">

        <div class="all">

        </div>
        <a href=""></a>

        

    </nav>
    {%block body%}

    {%endblock%}
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
</body>

</html>