{% extends 'shop/basic.html'%} 
{% block position %}position-sticky{% endblock position %} 
{% block bodyclasses %}{% endblock bodyclasses %} 
{%block body%}
<div id="suc"></div>
<form action="/submitform" method="post">
  {%csrf_token%}
  <div class="container w-50 my-5">
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Name</label>
      <input
        type="text"
        name="name"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="Enter Your Name"
      />
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label"
        >Email address</label
      >
      <input
        type="email"
        name="email"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="Enter Your Email"
      />
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label"
        >Phone number</label
      >
      <input
        type="number"
        name="phoneNumber"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="Enter Your Phone Number"
      />
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label"
        >How may we help you?</label
      >
      <textarea
        class="form-control"
        name="description"
        id="exampleFormControlTextarea1"
        rows="1"
      ></textarea>
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <input class="btn btn-primary" type="submit" value="Submit" />
    </div>
  </div>
</form>
<script>
  const success = parseInt("{{success}}");
  if (success) {
    document.getElementById("suc").innerHTML =
      '<div class="alert alert-success" role="alert"><strong>Success!</strong> Your response has been submitted.</div>';
  }
</script>
<!-- {{contact.5.message_id}} -->
{%endblock%}
