{% extends 'shop/basic.html' %}

{% block position %}position-sticky{% endblock position %}
{%block body%}
{% load humanize %}
{% load static %}

<!-- Offer Coursal -->
<div id="carouselExampleControls" class="carousel slide " data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src='/media/{{coursal.0.coursal_image}}' style="max-height:300px;object-fit: contain;" class="d-block w-100"
        alt="...">
    </div>
    {% for j in coursal|slice:"1:" %}
    <div class="carousel-item">
      <img src='/media/{{j.coursal_image}}' style="max-height:300px;object-fit: contain;" class="d-block w-100"
        alt="...">
    </div>
    {% endfor %}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>




<div class="container my-3">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4">
    {% for i in product %}
    <div class="col" >
      <div class="card shadow-sm" style="min-height:500px;">
        <img class="" style="height:200px;object-fit: contain;" src='/media/{{i.product_image}}' />
        <div class="card-body"  style="display: flex;justify-content:end;align-items:stretch;flex-flow: column;">
          <p class="card-text">
            <font style="vertical-align: inherit;width: 250px;">
              <a href="/product/{{i.product_id}}" style="vertical-align: inherit;-webkit-line-clamp: 3;text-decoration: none;
                display: -webkit-box;-webkit-box-orient: vertical;overflow: hidden;">{{i.product_name}}</a>
              <span class="text-bg-success"
                style="border-radius:5px;padding:2px 8px;font-size: 12px;margin-top:15px;display: inline-block;">{{i.product_rating}}<small
                  style="position:relative;top: -1px;left:4px;font-size:9px;" class="bi bi-star-fill"></small></span>
              <span>(53,265)</span>
              <h6 class="blockquote">₹{{i.product_price|intcomma}} &nbsp;<strike
                  class="text-muted "><small>₹{{i.product_initial_price|intcomma}}</small></strike></h6>
              <font style="vertical-align: inherit;-webkit-line-clamp: 2;
                display: -webkit-box;-webkit-box-orient: vertical;overflow: hidden;">{{i.product_desc}}
              </font>
            </font>
          </p>
          <div class="d-flex justify-content-center align-items-center">
            <div class="btn-group w-100">
              <button type="button" class="btn btn-sm btn-outline-danger" style="border-right: none;">
                <font style="vertical-align: inherit;">
                  <font id="pr{{i.product_id}}" style="vertical-align: inherit;" class="cart">Add to Cart</font>
                </font>
              </button>
              <button type="button" class="btn btn-sm btn-outline-success">
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">Buy Now</font>
                </font>
              </button>
            </div>

          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>




<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
<script>
  $('.cart').click(function () {
    var idstr = this.id.toString();
    console.log(idstr)
    if (cart[idstr] != undefined) {
      cart[idstr] = cart[idstr] + 1
    }
    else {
      cart[idstr] = 1
    }
    //localStorage.clear(cart)
    localStorage.setItem('cart', JSON.stringify(cart))
    console.log(cart);
    document.getElementById("cart_items_count").innerHTML = Object.keys(cart).length;
  });





</script>
{%endblock%}