{% extends 'shop/basic.html' %} {% load humanize %} {% block body %}
<style>
  .quantity-input {
    text-align: center;
  }

  .form-control::-webkit-outer-spin-button,
  .form-control::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  #Payment{
    display: none;
  }
</style>

{% comment %} {% for product in products %}
<h1>{{product.quantity}}</h1>
{% endfor %} {% endcomment %}
<form action="/payment" method="post">
  {% csrf_token %}
  <section id="Addresses" class="h-100">
    <div class="container-xl py-5">
      <div class="row d-flex justify-content-center my-4">
        <div class="col-md-8">
          <div class="card mb-4">
            <div class="card-header py-3">
              <h4 class="text-muted">Select Address</h4>
            </div>
            <div class="card-body">
              <input type="radio" name="address_id" id="" required hidden />
              {% if addresses.count %} 
              {% for address in addresses %}
              <div class="my-2 card">
                <div class="row card-body">
                  <label
                    for="{{address.id}}"
                    class="col-2 d-flex justify-content-center align-items-center rounded card-header border-0"
                    style="cursor: pointer"
                  >
                    <input type="radio" required name="address_id" value="{{address.id}}" id="{{address.id}}" class="form-check-input radio" {%if address.default_address  %} checked {%endif%}/>
                  </label>

                  <div class="col-9 p-2 bg-white">
                    <div>
                      <small class="text-muted mb-0"
                        >{{address.full_name}}</small
                      >
                    </div>
                    <div>
                      <small class="text-muted mb-0"
                        >{{address.house_no}}</small
                      >
                    </div>
                    <div>
                      <small class="text-muted mb-0">{{address.area}}</small>
                    </div>
                    <div>
                      <small class="text-muted mb-0">{{address.city}}</small>
                    </div>
                    <div>
                      <small class="text-muted mb-0"
                        >{{address.state}} - {{address.pincode}}</small
                      >
                    </div>
                    <div>
                      <small class="text-muted mb-0"
                        >Phone No. {{address.phone_number}} {% if address.alternate_phone_number %}, {{address.alternate_phone_number}}{% endif %}
                      </small>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %} 
              {% else %}
              <p class="bg-primary fs-5 text-center p-2 text-white">
                You haven't added any Addresses
              </p>
              {% endif %}
              <div class="col-12 center">
                <a
                  href="profile/myaddresses/addAddress"
                  class="btn btn-primary btn-md btn-block float-end mt-2"
                >
                  <i class="bi bi-plus"> </i> Add a new address
                </a>
              </div>
            </div>
          </div>
          <div class="card mb-4">
            <div class="card-body">
              <p><strong>Expected shipping delivery</strong></p>
              <p class="mb-0">12.10.2020 - 14.10.2020</p>
            </div>
          </div>
          <div class="card mb-4 mb-lg-0">
            <div class="card-body">
              <p><strong>We accept</strong></p>
              <img
                class="me-2"
                width="45px"
                src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/visa.svg"
                alt="Visa"
              />
              <img
                class="me-2"
                width="45px"
                src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/amex.svg"
                alt="American Express"
              />
              <img
                class="me-2"
                width="45px"
                src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/mastercard.svg"
                alt="Mastercard"
              />
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4" style="position: sticky; top: 20px">
            <div class="card-header py-3">
              <h5 class="mb-0">Summary</h5>
            </div>
            <div class="card-body">
              {% for item in products %}
              <div class="row item">
                <div class="col-4 align-self-center">
                  <img class="img-fluid" src="media/{{item.image}}" />
                </div>
                <div class="col-8">
                  <div class="row text-muted">
                    {{item.product_name|truncatechars:44}}
                  </div>
                  <b class="row">₹{{item.total_price|intcomma}}</b>
                  <div class="row">Qty:{{item.quantity}}</div>
                </div>
              </div>
              <hr class="hr mb-1" />
              {% endfor %}

              <ul class="list-group list-group-flush">
                <li
                  class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0"
                >
                  <span
                    >Subtotal (<span class="totalselecteditems"></span
                    >items):</span
                  >
                  <span id="totalcartprice">{{sub_total|intcomma}}</span>
                </li>
                <li
                  class="list-group-item d-flex justify-content-between align-items-center px-0"
                >
                  <span>Shipping Charges</span>
                  <span class="Shippingcharges"
                    >{{shipping_charges|intcomma}}</span
                  >
                </li>
                <li
                  class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3"
                >
                  <strong>Total amount</strong>
                  <strong>
                    <p class="mb-0">{{total|intcomma}}</p>
                  </strong>
                </li>
              </ul>
              <button type="button" onclick="submitform()" class="btn btn-primary btn-lg btn-block">
                Continue
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="Payment" class="h-100">
    <div class="container-xl py-5">
      <div class="row d-flex justify-content-center my-4">
        <div class="col-md-8">
          <div class="card mb-4">
            <div class="card-header py-3">
              <h4 class="text-muted">Payment</h4>
            </div>
            <div class="card-body">
              <div class="mb-3">
                <label for="cardholdername" class="form-label"
                  >Cardholder's name:</label
                >
                <input
                  type="text"
                  name="cardholdername"
                  class="form-control"
                  id="cardholdername"
                  placeholder="Jhon Thomas"
                  required
                />
              </div>

              <div class="mb-3">
                <label for="ccn" class="form-label">Card Number:</label>
                <input
                  type="tel"
                  onkeypress="return format_num(event)"
                  id="ccn"
                  name="cardholdernumber"
                  class="form-control"
                  placeholder="0125 6780 4567 9909"
                  required
                />
              </div>
              <div class="row">
                <div class="col-3 mb-3">
                  <label for="ccv" class="form-label">Expiry date:</label>
                  <input
                    type="month"
                    name="expiry_date"
                    class="form-control"
                    id="ccv"
                    placeholder=""
                    required
                  />
                </div>
                <div class="col-7 mb-3">
                  <div class="float-end">
                    <label for="ccv" class="form-label">CCV:</label>
                    <input
                      type="tel"
                      name="ccv_number"
                      class="form-control"
                      id="ccv"
                      placeholder="000"
                      required
                    />
                  </div>
                </div>
              </div>

              <span class="text-muted certificate-text"
                ><i class="fa fa-lock"></i> Your transaction is secured with ssl
                certificate</span
              >
            </div>
          </div>
          <div class="card mb-4 mb-lg-0">
            <div class="card-body">
              <p><strong>We accept</strong></p>
              <img
                class="me-2"
                width="45px"
                src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/visa.svg"
                alt="Visa"
              />
              <img
                class="me-2"
                width="45px"
                src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/amex.svg"
                alt="American Express"
              />
              <img
                class="me-2"
                width="45px"
                src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/mastercard.svg"
                alt="Mastercard"
              />
            </div>
          </div>

</div>
          <div class="col-md-4">
            <div class="card mb-4" style="position: sticky; top: 20px">
              <div class="card-header py-3">
                <h5 class="mb-0">Summary</h5>
              </div>
              <div class="card-body">
                {% for item in products %}
                <div class="row item">
                  <div class="col-4 align-self-center">
                    <img class="img-fluid" src="media/{{item.image}}" />
                  </div>
                  <div class="col-8">
                    <div class="row text-muted">
                      {{item.product_name|truncatechars:44}}
                    </div>
                    <b class="row">₹{{item.total_price|intcomma}}</b>
                    <div class="row">Qty:{{item.quantity}}</div>
                  </div>
                </div>
                <hr class="hr mb-1" />
                {% endfor %}
          
                <ul class="list-group list-group-flush">
                  <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                    <span>Subtotal (<span class="totalselecteditems"></span>items):</span>
                    <span id="totalcartprice">{{sub_total|intcomma}}</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                    <span>Shipping Charges</span>
                    <span class="Shippingcharges">{{shipping_charges|intcomma}}</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                    <strong>Total amount</strong>
                    <strong>
                      <p class="mb-0">{{total|intcomma}}</p>
                    </strong>
                  </li>
                </ul>

                <button type="button" class="btn btn-primary btn-lg btn-block" data-bs-toggle="modal"
                  data-bs-target="#confirmorder">
                  Place Order
                </button>
              </div>
            </div>
          </div>
          <!--Confirm Address Delete Modal -->
          <div class="modal fade" id="confirmorder" role="dialog" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">
                    Place Order
                  </h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body container">
                  Are You Sure To Place Order
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Cancel
                  </button>
                  <button type="submit" class="btn btn-primary btn-block">
                    Place Order
                  </button>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </section>
</form>

<script>
  function format_num(event) {
    console.log(event);
    let number = document.getElementById("ccn");
    if (number.value.length % 5 == 0) {
      number.value += " ";
    }
    return (
      event.charCode >= 48 &&
      event.charCode <= 57 &&
      document.getElementById("ccn").value.length <= 19
    );
  }
  function submitform() { 
    document.getElementById("Addresses").style.display="none";
    document.getElementById("Payment").style.display="block";
   }
</script>
<!-- To get cookies -->
<!-- <script>
   function getCookie() {
  let name="cartitems="
  let decodedCookie = decodeURIComponent(document.cookie);
  let ca = decodedCookie.split(';');
  for(let i = 0; i <ca.length; i++) {
    let c = ca[i];
    while (c.charAt(0) == ' ') {
      c = c.substring(1);
    }
    if (c.indexOf(name) == 0) {
      return c.substring(name.length, c.length);
    }
  }
}
console.log(getCookie())
</script> -->
{% endblock body %}
