{% extends 'shop/basic.html' %}
{% load humanize %}
{% block body %}
    <!-- Product section-->
        <section >
            <div class="container ">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src='/media/{{product.product_image}}' alt="..." /></div>
                    <div class="col-md-6">
                        <div class="small mb-1">{{product.category}}</div>
                        <h1 class="display-10 fw-bolder">{{product.product_name}}</h1>
                        <div class="fs-5 mb-5">
                            <span class="text-decoration-line-through">₹{{product.product_initial_price|intcomma}}</span>
                            <span>₹{{product.product_price|intcomma}}</span>
                        </div>
                        <p class="lead">{{product.product_desc}}</p>
                        <div class="btn-group w-100">
                            <button class="btn btn-outline-danger flex-shrink-0" type="button">
                                <i class="bi-cart-fill me-1"></i>
                                Add to cart
                            </button>
                           
                            <button class="btn btn-success flex-shrink-0 btn-success " type="button">
                              Buy Now
                            </button>
                            
                        </div>
                        
                    </div>
                </div>
            </div>
        </section>
        <!-- Related items section-->

        <section class="py-5 bg-light">
            <div class="container px-4 px-lg-5 mt-5">
                <h2 class="fw-bolder mb-4">Recommended</h2>
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    {% for i in sc %}
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                            <!-- Product image-->
                            <img class="card-img-top" src='/media/{{i.product_image}}' alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{i.product_name}}</h5>
                                    <!-- Product reviews-->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    <!-- Product price-->
                                    <span class="text-muted text-decoration-line-through">{{i.product_initial_price}}</span>
                                    {{i.product_price}}
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View Product</a></div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    
                </div>
            </div>
        </section>

{% endblock body %}