{% extends 'shop/basic.html' %}
{% load humanize %}
{%block title%}MBCART / Products{%endblock title%}
{% block body %}


<style>
    .uparr{
        position:fixed;
        bottom:15px;
        right:20px;
    }
</style>

<a id="back-to-top" href="#" class="btn btn-info btn-lg back-to-top uparr visually-hidden" role="button"><i class="fas fa-chevron-up"></i></a>

<!-- Product section-->
<section>
    <style>
        #imgcont {
            position: sticky;
            top: 40px;
        }

        .infcont {
            margin-top: 20vh;
        }

        .table td+td {
            width: 75%;
        }
        #main_img{
                height:500px;
            }


        @media only screen and (max-width: 770px) {
            #imgcont {
                position: static;
                top:0px
            }

            .clss {
                height: auto;
            }

            .infcont {
                margin-top: 0vh;

            }
            #main_img{
                height:250px;
            }

        }
    </style>
    <div class="container-fluid ">
        <div class="row align-items-start clss">
            <div id="imgcont" class="mt-2 col-md-5 mt-md-5 d-flex justify-content-start align-items-center flex-column">
    
                    <img style="width:80%;object-fit: contain;" id="main_img" class="card-img-top mb-md-5" src='/media/{{product.image}}'
                    alt="image" />
                <div class="d-flex justify-content-center">
                    <img style="width:50px;height:50px;object-fit:contain;box-sizing:border-box;box-shadow:0px 0px 2px 2px rgba(0, 128, 0, 0.358);border: 2px solid green;box-sizing:border-box;"
                        class="card-img-top mx-2 product_images" src='/media/{{product.image}}' alt="image" />
                    {% for img in productimgs %}
                    <img style="width:50px;height:50px;object-fit:contain;box-sizing:border-box;border: 1px solid grey;" class="card-img-top  mx-2 product_images" 
                        src='/media/{{img.image}}' alt="image" />
                    {% endfor %}
                </div>
            

            </div>

            <div class="col-md-7 infcont">
                <div class="mb-1" style="color:rgba(0, 0, 0, 0.8);">{{sub_cat.name}}</div>
                <h3 class="display-10 fw-bolder user-select-none">{{product.product_name}}</h3>
                <div>
                    <style>
                        .checked {
                            color: rgb(227, 227, 0);
                        }
                    </style>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span>&nbsp;{{product.product_rating}}</span>
                </div>
                <div>
                    <h5 class="small mt-2" style="color:rgba(0, 0, 0, 0.5);">{{product.order_set.count}} Orders & {{Reviews.count}} Reviews</h5>
                </div>
                <div class="fs-5 mb-5">
                    <span>
                        <h1 id="sp">₹{{product.product_price|intcomma}}</h1>
                    </span>
                    <span>M.R.P. : <span class="text-decoration-line-through"
                            id="mrp">₹{{product.product_initial_price|intcomma}}</span></span>
                    <h6>You save : <span id="yousave"></span></h6>
                </div>
                <style>
                    .inf i {
                        font-size: 30px;
                    }

                    .inf {
                        background-color: rgb(247, 247, 247);
                        padding: 5px 0;
                        display: flex;
                        justify-content: space-evenly;
                        align-items: center;
                        flex-wrap: wrap;
                    }

                    .inf h6 {
                        font-size: 12px;
                        text-align: center;
                    }

                    /* .inf .icon-width:not(:last-of-type) {
                    border-right: 2px solid grey;
                } */

                    .icon-width {
                        margin: 5px 10px;
                        width: 20%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-flow: column;

                        padding: 0 40px;
                    }
                </style>

                <div class="inf">
                    <div class="icon-width border-right-2 border-secondary">
                        <i class="bi bi-wallet2"></i>
                        <h6>Pay on Delivery</h6>
                    </div>
                    <div class="icon-width">
                        <i class="bi bi-arrow-repeat"></i>
                        <h6>7 days Replacement</h6>
                    </div>
                    <div class="icon-width">
                        <i class="bi bi-truck"></i>
                        <h6>MBCART Delivered</h6>
                    </div>
                    <div class="icon-width">
                        <i class="bi bi-shield-check"></i>
                        <h6>1 Year Warranty</h6>
                    </div>
                </div>
                
                <div class="d-flex justify-content-center align-items-center my-5">
                    <div class="btn-group w-100">
                        {% if user.is_authenticated %}      
                         <form action="/AddToCart/{{product.product_id}}" method="GET" class="w-100">
                            <!-- <input type="text" value="{{i.product_id}}" hidden> -->
                         {% if is_added_to_cart %}
                            <a href="/cart" class="btn btn-sm btn-outline-danger w-100 p-2"
                            style="border-right: none;border-radius:5px 0px 0px 5px;">
                            Go to Cart
                            &nbsp;&nbsp;<i class="bi-cart-fill me-1"></i>
                        </a>
                        {% else %}
                       <button type="submit" class="btn btn-sm btn-outline-danger w-100 p-2" id="addtocart"
                            style="border-right: none;border-radius:5px 0px 0px 5px;">
                            <i class="bi-cart-fill me-1"></i>Add to Cart
                        </button>
                            {% endif %}

                         </form>
                        {% else %}
                        <button type="button" class="btn btn-sm btn-outline-danger w-100 p-2" data-bs-toggle="modal" data-bs-target="#signinModal"
                            style="border-right: none;border-radius:5px 0px 0px 5px;">
                            <i class="bi-cart-fill me-1"></i>
                           Login for Add to Cart
                        </button>
                        {% endif %}

                       
                        <form action="/AddToCart/{{product.product_id}}" method="post" class="w-100">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-sm btn-outline-success w-100 p-2"
                                style="border-radius:0px 5px 5px 0px;">Buy Now
                            </button>
                        </form>
                    </div>

                </div>
                <!--  -->



                <div class="container desc mt-5">
                    <h5 style="font-weight: bold;">About this item</h5>
                    <ul class="lead fs-6">
                        <style>
                            .desc li {
                                font-weight: 500;
                            }
                        </style>
                        {{aboutthisitem|unordered_list}}
                    </ul>
                </div>
                

                <div class="container desc mt-5">
                <table class="table table-striped ">
                    <thead>
                        <h5 style="font-weight: bold;">Specifications</h5>
                    </thead>
                    <tbody>
                          {% for rowval in techinical_details %}    
                             <tr>
                             {% for val in rowval %}
                              <td>{{val}}</td>
                             {% endfor %}
                            </tr>
                          {% endfor %}
                    </tbody>
                </table>
                </div>

            </div>
        </div>




    </div>
</section>

<!-- What is in the Box -->
<div class="container-fluid ">
    <hr class="my-4" />
    <div class="px-5">
        <h5 style="font-weight: bold;">What is in the Box?</h5>
        <style>
            .whatinthebox li {
                font-weight: 500;
            }
        </style>
        <ul class="whatinthebox lead fs-6">
            {{what_is_in_the_box|unordered_list}}
        </ul>
    </div>

    <hr class="my-4" />
</div>



<!-- Description Images -->
<h4 class="mt-2 ms-4">From the manufacturer</h4>
<div class="w-100 container mt-3 p-0">
    {% for img in product_desc %}
    <div class="">
        <img src="/media/{{img.image}}" class="img-fluid w-100" alt="DescImages" loading="lazy">
    </div>
    {% endfor %}
</div>


<section style="background-color: #e7effd;" class="py-5">
    {% for review in Reviews %}
    <div class="container  py-2 text-dark">
        <div class="row d-flex justify-content-center">
            <div class="col-md-11 col-lg-9 col-xl-7">
                <style>
                    .link-muted {
                        color: #aaa;
                    }

                    .stars {
                        color: #aaa;
                    }

                    .link-muted:hover {
                        color: #1266f1;
                    }

                    a {
                        text-decoration: none;
                    }
                </style>

                <div class="d-flex flex-start">
                    <div class="card w-100">
                        <div class="card-body p-4">
                            <div class="">
                                <h6 class="d-inline-block me-2">{{review.name}}</h6>
                                <div class="d-inline-block review_rating_container">
                                    {{review.rating}}
                                </div>
                                <p class="small">{{review.created}}</p>
                                <h6 class="">{{review.heading}}</h6>


                                <br>
                                {% for revImg in ReviewImages%}
                                {% if review.id == revImg.review_id %}
                                <a>
                                    <img class="img-fluid z-depth-2 img-thumbnail" loading="lazy" style="height:100px;"
                                        src="/media/{{revImg.image}}" alt="image" data-toggle="modal"
                                        data-target="#modal1"></a>
                                {% endif %}
                                {% endfor %}
                                <pre>{{review.body}}</pre>

                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="d-flex align-items-center">
                                        <form action="{%url 'liked'%}" class="likeddata" method="POST" role="form"
                                            class="contactForm">
                                            {%csrf_token%}
                                            <input type="text" name="reviewId" value="{{review.id}}" hidden>
                                            <button type="submit" name="like" class="link-muted me-2 bg-white border-0">
                                                <i class="fas fa-thumbs-up me-1"></i>
                                                {{review.like_set.count}}
                                            </button>
                                        </form>
                                        <form action="{%url 'disliked'%}" class="dislikeddata" method="POST" role="form"
                                            class="contactForm">
                                            {%csrf_token%}
                                            <input type="text" name="reviewId" value="{{review.id}}" hidden>
                                            <button type="submit" name="like" class="link-muted border-0 bg-white">
                                                <i class="fas fa-thumbs-down me-1"></i>
                                                {{review.dislike_set.count}}
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</section>


{% if not user_review %}
{% if user.is_authenticated %}
<div class="container  mt-5 mb-5 bg-light  ">
    <form action="/submitReview" method="post" enctype="multipart/form-data">
        {%csrf_token%}
        <div class="d-flex justify-content-center row">
            <div class="col-md-8">
                <div class="d-flex flex-column comment-section">
                    <div class="bg-light py-5">
                        <input type="hidden" name="username" value="{{request.user}}">
                        <input type="hidden" name="product" value="{{product.product_id}}">
                        <input type="hidden" name="rating" id="review_rating" value="">

                        <div class="mb-3">
                            <input type="file" name="imgs[]" multiple class="form-control" aria-label="Choose Product Images">
                        </div>
                        <div class="mb-3">

                            <div class="col-auto">
                                <div class="d-flex justify-content-start align-items-center">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text me-4">Select Rating</div>
                                    </div>
                                    <style>
                                        .review_rating_input {
                                            cursor: pointer;
                                        }
                                    </style>
                                    <div id="review_rating">
                                        <span class="fa fa-star review_rating_input fs-4" data-number="0"></span>
                                        <span class="fa fa-star review_rating_input fs-4" data-number="1"></span>
                                        <span class="fa fa-star review_rating_input fs-4" data-number="2"></span>
                                        <span class="fa fa-star review_rating_input fs-4" data-number="3"></span>
                                        <span class="fa fa-star review_rating_input fs-4" data-number="4"></span>
                                    </div>

                                </div>
                            </div>

                        </div>
                        <div class="mb-3">
                            <input type="text" name="heading" class="form-control" placeholder="Review Heading">
                        </div>
                        <textarea class="form-control ml-1 shadow-none textarea" name="body"
                            placeholder="Review Body"></textarea>
                        <div class="mt-2 text-right "><button class="btn btn-primary btn-sm shadow-none me-2"
                                type="submit">Submit Review</button><button
                                class="btn btn-outline-primary btn-sm ml-1 shadow-none" type="button">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% else %}


<div class="fluid-container d-flex justify-content-center p-5">
    <button type="button" class="btn btn-primary ms-3" data-bs-toggle="modal" data-bs-target="#signinModal">
        Login To Write a Review
    </button>
</div>
{% endif %}
{% endif %}
<!-- Related items section-->

<section class="py-5 bg-light">
    <div class="container px-4 px-lg-5 mt-5">
        <h2 class="fw-bolder mb-4">Recommended</h2>
        <div class="row gx-1 gx-lg-1 row-cols-2 row-cols-md-3 row-cols-xl-5 justify-content-center">
            {% for i in sc %}
            <div class="col mb-5 mx-2" style="min-width:250px;">
                <div class="card h-100">
                    <!-- Sale badge-->
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale
                    </div>
                    <!-- Product image-->
                    <a href="/product/{{i.product_id}}"><img class="card-img-top" style="padding:20px;height:150px;object-fit:contain;" src='/media/{{i.image}}' alt="image" /></a>
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <a href="/product/{{i.product_id}}" style="text-decoration:none;"
                                class="fw-bolder user-select-none">{{i.product_name|truncatechars:55}}</a>
                            <!-- Product price-->
                            <br>
                            <span class="text-bg-success "
                                style="border-radius:5px;padding:2px 8px;font-size: 12px;margin-top:15px;display: inline-block;">{{i.product_rating}}<small
                                    style="position:relative;top: -1px;left:4px;font-size:9px;"
                                    class="bi bi-star-fill"></small></span>
                            <span>({{i.order_set.count|intcomma}})</span>
                            <br>


                            <h6 class="blockquote">₹{{i.product_price|intcomma}} &nbsp;<strike
                                    class="text-muted "><small>₹{{i.product_initial_price|intcomma}}</small></strike>
                            </h6>
                            </p>
                        </div>
                    </div>

                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</section>


<script>
    let product_images = document.getElementsByClassName("product_images")
    let main_img = document.getElementById("main_img")
    Array.from(product_images).forEach(e => {
        e.addEventListener('mouseover', function () {
            let src = e.getAttribute('src')
            Array.from(product_images).forEach(e => {
                e.style.border = "1px solid grey"
                e.style.boxShadow = "None";
            });
            e.style.border = "2px solid green"
            e.style.boxShadow = "0px 0px 2px 2px rgba(0, 128, 0, 0.358)";
            main_img.setAttribute('src', src)

        })
    });

    const rating = parseInt("{{product.product_rating}}");
    const rating_stars = document.querySelectorAll('.fa-star');
    // console.log(rating_stars);
    // rating_stars.forEach(element => {

    //});
    for (let i = 0; i <= (rating - 1); i++) {
        rating_stars[i].classList.add("checked")
    }

    let mrp = document.getElementById("mrp").innerHTML;
    let sp = document.getElementById("sp").innerHTML;
    mrp = mrp.replace("₹", '');

    mrp = mrp.replace(",", '')

    sp = sp.replace("₹", '')
    sp = sp.replace(",", '')

    mrp = parseInt(mrp)
    sp = parseInt(sp)





    let discount = "₹" + (mrp - sp) + "(" + (((mrp - sp) / mrp) * 100).toFixed(2) + "%)";
    document.getElementById("yousave").innerHTML = discount;



</script>
<script>
    const review_likes = document.getElementsByClassName("likeddata")
    Array.from(review_likes).forEach(e => {
        e.addEventListener("submit", function (i) {
            i.preventDefault();
            e.children[2].childNodes[2].data++;
            let formData = new FormData(e);
            fetch("{%url 'liked' %}", {
                method: 'POST',
                body: formData
            }).then(Response => {
            }).catch(resopnse => {
                console.log("Error");
            })
        })
    })


    const review_dislikes = document.getElementsByClassName("dislikeddata")
    Array.from(review_dislikes).forEach(e => {
        e.addEventListener("submit", function (i) {
            i.preventDefault();
            e.children[2].childNodes[2].data++;
            let formData = new FormData(e);
            fetch("{%url 'disliked' %}", {
                method: 'POST',
                body: formData
            }).then(Response => {
            }).catch(resopnse => {
                console.log("Error");
            })
        })
    })

</script>

<script>
    let review_rating_input = document.getElementsByClassName("review_rating_input")
    Array.from(review_rating_input).forEach(e => {
        e.addEventListener("click", () => {
            let val = parseInt(e.getAttribute('data-number'));
            for (let i = val + 1; i < 5; i++) {
                if (review_rating_input[i].classList.contains('checked'))
                    review_rating_input[i].classList.remove("checked")
            }
            for (let i = 0; i <= val; i++) {
                review_rating_input[i].classList.add("checked")
            }
            document.getElementById("review_rating").value = val + 1;
        })
    })

</script>
<script>
    let review_rating_container = document.getElementsByClassName("review_rating_container");
    Array.from(review_rating_container).forEach(e => {
        let rating = e.innerHTML
        // console.log(rating);
        e.innerHTML = "";
        for (let i = 1; i <= 5; i++) {
            let star = document.createElement('span');
            star.classList.add('fa', 'fa-star')
            if (i <= rating) {
                star.classList.add('checked')
            }
            e.appendChild(star)
        }
    })
</script>

<script>
    setInterval(() => {
        if (window.pageYOffset>2000) {
            document.getElementById("back-to-top").classList.remove('visually-hidden')  
        }
        else{
            document.getElementById("back-to-top").classList.add('visually-hidden')  
        }
        
    },1000);
</script>


<script>
    let pid=[];
    pid.push(parseInt('{{product.product_id}}'))
    let isavail=JSON.parse(localStorage.getItem('recentsearches_id'))

    if (isavail==null) {
            localStorage.setItem('recentsearches_id',JSON.stringify(pid))
    }
    else{
        let arr= [JSON.parse(isavail)]
        arr.push(parseInt('{{product.product_id}}'))

        localStorage.setItem('recentsearches_id', JSON.stringify(arr))

    }

    // localStorage.removeItem('recentsearches_id')

</script>



{% endblock body %}