{%extends 'shop/basic.html'%} {%block title%}MBCART / Search{%endblock title%}
{%block body%} {% load humanize %} {% load static %}

<div class="container my-3">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4">
    {% for i in product %}
    <div class="col">
      <div class="card shadow-sm" style="min-height: 500px">
        <img
          class=""
          style="height: 200px; object-fit: contain"
          src="/media/{{i.image}}" alt="img"
        />
        <div
          class="card-body"
          style="
            display: flex;
            justify-content: start;
            align-items: stretch;
            flex-flow: column;
          "
        >
          <p class="card-text">
            <font style="vertical-align: inherit; width: 250px">
              <a
                href="/product/{{i.product_id}}"
                target="_blank"
                style="vertical-align: inherit;-webkit-line-clamp: 3;
                  text-decoration: none;
                  display: -webkit-box;
                  -webkit-box-orient: vertical;
                  overflow: hidden;min-height:100px;
                "
                >{{i.product_name}}</a
              >
              <span
                class="text-bg-success"
                style="
                  border-radius: 5px;
                  padding: 2px 8px;
                  font-size: 12px;
                  margin-top: 15px;
                  display: inline-block;
                "
                >{{i.product_rating}}<small
                  style="
                    position: relative;
                    top: -1px;
                    left: 4px;
                    font-size: 9px;
                  "
                  class="bi bi-star-fill"
                ></small
              ></span>
              <span>(53,265)</span>
              <h6 class="blockquote">
                ₹{{i.product_price|intcomma}} &nbsp;<strike class="text-muted"
                  ><small>₹{{i.product_initial_price|intcomma}}</small></strike
                >
              </h6>
              <font
                style="
                  vertical-align: inherit;
                  -webkit-line-clamp: 2;
                  display: -webkit-box;
                  -webkit-box-orient: vertical;
                  overflow: hidden;
                "
                >{{i.product_desc}}
              </font>
            </font>
          </p>
          <div class="d-flex justify-content-center align-items-center">
            <div class="btn-group w-100">
              <form
                action="/AddToCart/{{i.product_id}}"
                class="w-100"
              >
                <button
                  type="submit"
                  class="btn btn-sm btn-outline-success w-100"
                  style="border-radius: 5px"
                >
                  <font style="vertical-align: inherit">
                    <font style="vertical-align: inherit">Buy Now</font>
                  </font>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{%endblock%}

