{%extends 'shop/basic.html'%}
{%block title%}MBCART / Search{%endblock title%}
{%block body%}
{% load humanize %}
{% load static %}

<div class="container my-3">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4">

        {% comment %} {% for i in product %}
            {% if i.product_id in ids %}
        <div class="col">
            <div class="card shadow-sm" style="min-height:500px;">
                <img class="" style="height:200px;object-fit: contain;" src='/media/{{i.product_image}}' />
                <div class="card-body"  style="display: flex;justify-content:end;align-items:stretch;flex-flow: column;">
                    <p class="card-text">
                        <font style="vertical-align: inherit;width: 250px;">
                            <a href="/product/{{i.product_id}}" style="vertical-align: inherit;text-decoration:none;-webkit-line-clamp: 3;
                  display: -webkit-box;-webkit-box-orient: vertical;overflow: hidden;">{{i.product_name}}</a>
                            <span class="text-bg-success"
                                style="border-radius:5px;padding:2px 8px;font-size: 12px;margin-bottom:10px;display: inline-block;">{{i.product_rating}}<small
                                    style="position:relative;top: -1px;left:4px;font-size:9px;"
                                    class="bi bi-star-fill"></small></span>
                            <span>(53,265)</span>
                            <h6 class="blockquote">₹{{i.product_price|intcomma}} &nbsp;<strike
                                    class="text-muted "><small>₹{{i.product_initial_price|intcomma}}</small></strike></h6>
                            <font style="vertical-align: inherit;-webkit-line-clamp: 2;
                  display: -webkit-box;-webkit-box-orient: vertical;overflow: hidden;">{{i.product_desc}}
                            </font>
                        </font>
                    </p>
                    <div class="d-flex justify-content-center align-items-center">
            <div class="btn-group w-100">
              <form action="/AddToCart/{{i.product_id}}" method="post" class="w-100">
                {% csrf_token %}
              <button type="submit" class="btn btn-sm btn-outline-danger w-100" style="border-right: none;border-radius:5px 0px 0px 5px;">
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;" class="cart">Add to Cart</font>
                </font>
              </button>
              </form>
               <form action="/AddToCart/{{i.product_id}}" method="post" class="w-100">
                {% csrf_token %}
              <button type="submit" class="btn btn-sm btn-outline-success w-100" style="border-radius:0px 5px 5px 0px;">
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">Buy Now</font>
                </font>
              </button>
            </form>
            </div>

          </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %} {% endcomment %}



{% for i in product %}
  {% if i.product_id in ids %}
    <div class="col">
      <div class="card shadow-sm" style="min-height:500px;">
       
        {% comment %} {% for img in thumbnail %}

        {% if i.product_id == img.product_id %}
        <img class="" style="height:200px;object-fit: contain;" src='/media/{{img.image}}' />
        {% endif %}
        {% endfor %} {% endcomment %}
        
        <img class="" style="height:200px;object-fit: contain;" src='/media/{{i.image}}' />
        <div class="card-body" style="display: flex;justify-content:start;align-items:stretch;flex-flow: column;">
          <p class="card-text">
            <font style="vertical-align: inherit;width: 250px;">
              <a href="/product/{{i.product_id}}" target="_blank" style="vertical-align: inherit;-webkit-line-clamp: 3;text-decoration: none;
                display: -webkit-box;-webkit-box-orient: vertical;overflow: hidden;">{{i.product_name}}</a>
              <span class="text-bg-success"
                style="border-radius:5px;padding:2px 8px;font-size: 12px;margin-top:15px;display: inline-block;">{{i.product_rating}}<small
                  style="position:relative;top: -1px;left:4px;font-size:9px;" class="bi bi-star-fill"></small></span>
              <span>(53,265)</span>
              <h6 class="blockquote">₹{{i.product_price|intcomma}} &nbsp;<strike
                  class="text-muted "><small>₹{{i.product_initial_price|intcomma}}</small></strike></h6>
              <font style="vertical-align: inherit;-webkit-line-clamp: 2;
                display: -webkit-box;-webkit-box-orient: vertical;overflow: hidden;">{{i.product_desc}}
              </font>
            </font>
          </p>
          <div class="d-flex justify-content-center align-items-center">
            <div class="btn-group w-100">
              {% comment %} {% if user.is_authenticated %}
              
              <form action="/AddToCart/{{i.product_id}}" method="post" class="w-100">
                {% csrf_token %}
              <button type="submit" class="btn btn-sm btn-outline-danger w-100" style="border-right: none;border-radius:5px 0px 0px 5px;">
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;" class="cart">Add to Cart</font>
                </font>
              </button>
              </form>
              {% else %}
              <button type="button" class="btn btn-sm btn-outline-danger w-100" style="border-right: none;border-radius:5px 0px 0px 5px;">
                        Login for Add to Cart
              </button>
              {% endif %} {% endcomment %}

               <form action="/AddToCart/{{i.product_id}}" method="post" class="w-100">
                {% csrf_token %}
              <button type="submit" class="btn btn-sm btn-outline-success w-100" style="border-radius:5px;">
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">Buy Now</font>
                </font>
              </button>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    {%endif%}
    {% endfor %}

    </div>
</div>

{%endblock%}