<div class="modal fade" id="signinModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">SIGN IN</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body container">
                <form action="/signin" method="post">
                    {%csrf_token%}
                    <div class="container">
                        <div class="mb-3">
                            <label for="exampleFormControlInput10" class="form-label">Username</label>
                            <input type="text" name="username" class="form-control" id="exampleFormControlInput10" placeholder="Enter Your Email" required />
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput20" class="form-label">Password</label>
                            <input type="password" name="password" class="form-control" id="exampleFormControlInput20" placeholder="Enter Your Password" required />
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
                            <label class="form-check-label" for="form2Example31">Remember me</label>
                        </div>
                        <div class="text-center mt-4">
                            <p>
                                Not a member?
                                <a href="" data-bs-toggle="modal" data-bs-target="#signupModal" class="text-decoration-none">signup</a>
                            </p>
                        </div>
                        <div class="d-grid gap-2 mt-5 d-md-flex justify-content-center">
                            <input class="btn w-100 btn-primary" type="submit" value="SIGN IN" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
